body{
    position: relative;
    font-family: Arial;
    background: url("/img/main_img/logo.png");
    background-repeat: no-repeat;
    /*opacity: 0.5;*/
    /*top: 0;*/
    /*left: 0;*/
}

/*
.help-block{
    color: red !important;
}
*/


.help-block{
    color: red !important;
}

.site-login{
    background: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 2em 2em 0 2em;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2), inset 0 0 30px #ddd;
    border: 1px solid #e61b05;
    border-radius: 3px;
}

input[type=text], input[type=password], input[type=password]{
    font-size: 18px;
    margin: 0 auto;
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #003333;
    border-bottom-left-radius: 20px;
    padding-left: 1em;
    box-shadow: 0 2px #003333;
    display: inline-block !important;
}



/*button{
    position: relative;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(86, 116, 116, 0.5);
    cursor: pointer;
    border: 1px solid #e61b05;
    border-radius: 5px;
}*/

button:hover{
    text-shadow: .5px .5px #e61b05;
    box-shadow: -5px 5px 5px #95999c;
    top: -3px;
}

.fa-eye-slash, .fa-eye, .fa-user{
    display: inline-block !important;
   margin-left: -35px !important;
    color: #e61b05;
    cursor: pointer;
}

::placeholder{
    font-weight: bold;
}

.modal-content{
    /*background: lime !important;*/
    border: none !important;
    width: 420px !important;
    margin: 0 auto;
}

.modal-header{
    display: none;
}
/* Checkbocks */
/* .squaredTwo */
.squaredTwo {
    width: 28px;
    height: 28px;
    position: relative;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredTwo label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    /*background: linear-gradient(to bottom, #eee 0%, #999 100%);*/
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredTwo label:after {
    content: '';
    width: 20px;
    height: 10px;
    position: absolute;
    /*top: 4px;*/
    /*left: 4px;*/
    border: 3px solid #218838;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
/*.squaredTwo label:hover::after {
    opacity: 0.3;
}*/
.squaredTwo input[type=checkbox] {
    visibility: hidden;
}
.squaredTwo input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.squaredTwo span{
    display: block;
    width: 260px;
    position: absolute;
    left: 40px;
    top: 2px;
}
/* end .squaredOne */
/* Однокласники */
.mailru{
    background-image: url('/img/mailruicon.png');
    background-size: cover;
    /*transform: scale(0.5);*/
}