* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body{
    margin: 1em;
    background: #fff;
}

.container{
    margin: 1em;
}

#img-container{
    position: relative;
    border: 1px solid red;
    width:900px;
    height: 1400px;
    /*background: lime;*/
    /*width: 450px;*/
    /*height: 700px;*/
    /*position: relative;*/
    /*background-image: url("/img/test/img1.png");*/
    background-repeat: no-repeat;
    background-size: cover;
    /*transform: scale(0.5);*/
}

#img2{
    /*visibility: hidden;*/
    /*border: 1px solid blue;*/
    display: block;
    /*position: absolute;*/
   top: 0;
   left: 0;
    /*transform: scale(0.5);*/
    cursor: move;
    z-index: 2;
}

input[type=number]{
    width: 3em;
    border: 1px solid #222;
}
/************/
.drop-zone__input {
    display: none;
}

form .help-block{
    color: red;
}
/**/
.resize-container {
    /*position: relative;*/
    position: absolute;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed blue;
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(222,60,80,.9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}
/**/


.rBt{
    display: block;
    width: 30px;
    height: 30px;
    transform: scale(1.5);
    position: absolute !important;
    z-index: 10;
    cursor: pointer;
    top: -1em;
    opacity: 0;
    color: #50C8EF;
    visibility: hidden;
    transition: all ease-in 300ms;
    left: calc(50% - 15px);
}

.visible-left{
    visibility: visible;
    top: 2em;
    opacity: 1;
    left: 40%;
    transition: all ease-in 300ms;
}

.visible-right{
    visibility: visible;
    top: 2em;
    opacity: 1;
    left: calc(60% - 30px);
    transition: all ease-in 300ms;
}

#imgBtn{
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8' standalone='no'?%3e%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 48'%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill:%2350C8EF;%7d%3c/style%3e%3c/defs%3e%3ctitle%3eAsset 69%3c/title%3e%3cg id='Layer_2' data-name='Layer 2'%3e%3cg id='Layer_1-2' data-name='Layer 1'%3e%3cpath class='cls-1' d='M56,0H8A8,8,0,0,0,0,8V40a7.27,7.27,0,0,0,.48,2.64A8.05,8.05,0,0,0,4,46.91,8.1,8.1,0,0,0,8,48H56a8.08,8.08,0,0,0,6.72-3.65A8.18,8.18,0,0,0,64,40V8A8,8,0,0,0,56,0ZM33,42.67H8a2.35,2.35,0,0,1-.83-.16L21.65,22.75,33.52,34.61l3.76,3.76,4.27,4.3ZM58.67,40A2.68,2.68,0,0,1,56,42.67H49.12l-8-8.06,6.82-6.74,10.78,12Zm0-8.13L50,22.21a2.72,2.72,0,0,0-1.89-.88,2.53,2.53,0,0,0-1.95.78l-8.82,8.74L23.23,16.77A2.84,2.84,0,0,0,21.12,16a2.76,2.76,0,0,0-1.95,1.09L5.33,36V8A2.68,2.68,0,0,1,8,5.33H56A2.68,2.68,0,0,1,58.67,8Z'/%3e%3ccircle class='cls-1' cx='37.33' cy='18.67' r='5.33'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

#textBtn{
    height: 18px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='iso-8859-1'?%3e%3c!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 405.333 405.333' style='enable-background:new 0 0 405.333 405.333;' xml:space='preserve'%3e%3cpath style='fill:%2350C8EF;' d='M34.784,0v132.809h43.61v-33.98c0-7.906,3.012-15.808,9.041-21.837 c6.037-6.029,13.943-9.041,21.845-9.041h46.323v262.891c0,7.906-3.012,15.804-9.041,21.841c-6.033,6.029-13.943,9.041-21.841,9.041 h-32.99v43.61h221.858v-43.61h-32.981c-7.91,0-15.808-3.012-21.833-9.041c-6.042-6.037-9.05-13.939-9.05-21.841V67.951h46.323 c7.91,0,15.808,3.012,21.841,9.041c6.025,6.029,9.041,13.935,9.041,21.837v33.98h43.618V0H34.784z'/%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3cg%3e%3c/g%3e%3c/svg%3e ");
}
.btVis{
    visibility: visible;
}

#innerText{
    padding: .5em;
    width: 10em;
}

select#font{
    width: 10em;
}

.contenteditable{
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    padding: .5em;
    font-weight: bold;
    color: rgba(175,180,255,1);
    z-index: 100;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    cursor: move;
}

№clear-btn.fa{
    color: red;
    font-size: 24px;
    padding-right: .5em;
}

.img-block-over{
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    z-index: 1000;
    background: rgba(0,0,0, .1);
}

/**/

.add-bt{
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 34px);
    top: -35px;
    cursor: pointer;
    /**/
    background:#50C8EF;
    border:2px solid #50C8EF;
    /*border-radius:50%;*/
    box-shadow:0 8px 10px rgba(140, 234, 212, 0.3);
    /*cursor:pointer;*/
    height:68px;
    text-align:center;
    width:68px;
    /*position: fixed;*/
    /*left: 8%;*/
    bottom: 18%;
    z-index:999;
    transition:.3s;
    animation:email-an linear 10s infinite;
}

.add-bt .text-call{
    height:68px;
    width:68px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.add-bt .text-call span {
    text-align: center;
    color:#50C8EF;
    opacity: 0;
    font-size: 0;
    position:absolute;
    right: 4px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity 3s linear;
}

.add-bt:hover {
    z-index:1;
    background:#fff;
    transition:3s;
}
.add-bt:hover i {
    color:#38a3fd;
    font-size:40px;
    transition:3s;
}
.add-bt i {
    color:#fff;
    font-size:29px;
    transition:3s;
    line-height: 66px;
    display: block;
    margin-left: -6px;
}

.add-bt i  {
    -webkit-animation: opsimple 4s infinite;
    animation: opsimple 4s infinite;
}

@-webkit-keyframes email-an {
    0% {
        box-shadow:0 8px 10px rgba(49, 133, 179, 0.3),0 0 0 0 rgba(91, 165, 229, 0.2),0 0 0 0 rgba(41, 131, 198, 0.2)
    }
    40% {
        box-shadow:0 8px 10px rgba(85, 180, 219, 0.3),0 0 0 15px rgba(86, 163, 213, 0.2),0 0 0 0 rgba(80, 176, 239, 0.2)
    }
    80% {
        box-shadow:0 4px 5px rgba(107, 181, 231, 0.3),0 0 0 6px rgba(249,92,24,0),0 0 0 13px rgba(74, 155, 226, 0.07)
    }
    100% {
        box-shadow:0 4px 5px rgba(50, 135, 168, 0.3),0 0 0 6px rgba(249,92,24,0),0 0 0 20px rgba(117, 201, 248, 0)
    }
}@keyframes email-an {
     0% {
         box-shadow:0 4px 5px rgba(79, 163, 201, 0.3),0 0 0 0 rgba(97, 172, 201, 0.2),0 0 0 0 rgba(91, 183, 206, 0.2)
     }
     40% {
         box-shadow:0 4px 5px rgba(82, 155, 232, 0.3),0 0 0 6px rgba(132, 195, 229, 0.2),0 0 0 0 rgba(73, 170, 222, 0.2)
     }
     80% {
         box-shadow:0 4px 5px rgba(97, 192, 236, 0.3),0 0 0 6px rgba(249,92,24,0),0 0 0 13px rgba(87, 180, 224, 0.07)
     }
     100% {
         box-shadow:0 4px 5px rgba(150, 177, 231, 0.3),0 0 0 6px rgba(249,92,24,0),0 0 0 20px rgba(249,92,24,0.0)
     }
 }

@keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* конец кнопки */

select{
    border: 1px solid #444;
}

input[type=number]{
    padding-left: .5em;
}

input[type=range]{
    color: #38a3fd;
}

input.my-input{
    border: none;
    outline: none;
    border-left: 1px solid #444;
    border-bottom: 1px solid #444;
    border-bottom-left-radius: 5px;
}